In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('../ex_data/yali18.csv')
df2 = pd.read_csv('../ex_data/yali19.csv')
df3 = pd.read_csv('../ex_data/qx1819.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../ex_data/yali18.csv'

In [1]:
df1.head(3)

NameError: name 'df1' is not defined

通过df1和df2构造df，把时间设为索引，第一列为站点编号，第二列为对应时刻的压力大小

In [106]:
# 宽表变长表
df = pd.concat([df1, df2]).melt(id_vars = ['Time', 'MeasName'],value_vars = ['H0', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7',
       'H8', 'H9', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H17',
       'H18', 'H19', 'H20', 'H21', 'H22', 'H23'], var_name = ['Hour'], value_name = '压力')

In [107]:
df.head(3)

         Time MeasName Hour        压力
0  2018-01-01      站点4   H0  0.402750
1  2018-01-01      站点7   H0  0.214375
2  2018-01-01     站点22   H0  0.247000

In [108]:
# 将MeasName的数字取出，设为'站点'列
df['站点'] = df.MeasName.astype('string').str.replace('站点', '')

In [109]:
# 将时间转化为timedelta后与日期相加
df['t'] = pd.to_datetime(df.Time)+pd.to_timedelta(df.Hour.astype('string').str.replace('H', '').astype('int'), 'H')

In [110]:
# 删掉无用的列
df.drop(columns = ['Time', 'Hour', 'MeasName'], inplace = True)

In [111]:
# 将时间设置为索引，同时修改索引名
df = df.sort_values(by = ['t', '站点']).set_index('t')[['站点', '压力']]
df.index.name = ''

In [112]:
df.head(3)

            站点        压力

2018-01-01   1  0.288625
2018-01-01  10  0.271875
2018-01-01  11  0.260625

In [113]:
df.tail(3)

                    站点        压力

2019-12-31 23:00:00  7  0.269875
2019-12-31 23:00:00  8  0.362625
2019-12-31 23:00:00  9  0.201375

在上一问构造的df基础上，构造下面的特征序列或DataFrame，并把它们逐个拼接到df的右侧

    当天最高温、最低温和它们的温差
    当天是否有沙暴、是否有雾、是否有雨、是否有雪、是否为晴天
    选择一种合适的方法度量雨量/下雪量的大小（构造两个序列分别表示二者大小）
    限制只用4列，对风向进行0-1编码

In [114]:
df3['当日最高温'] = df3.气温.astype('string').str.extract('([\d]+)[℃C]').astype('int')
df3['当日最低温'] = df3.气温.astype('string').str.extract('[～ ]([-\d]+)').astype('int')
df3['温差'] = df3['当日最高温'] - df3['当日最低温']

In [115]:
df3['是否有沙暴'] = df3.天气.astype('string').str.contains('沙')
df3['是否有雾'] = df3.天气.astype('string').str.contains('雾')
df3['是否有雨'] = df3.天气.astype('string').str.contains('雨')
df3['是否有雪'] = df3.天气.astype('string').str.contains('雪')
df3['是否为晴天'] = df3.天气.astype('string') == '晴' # 认为只有天气为‘晴’时，才认为是晴天

In [116]:
df3.head(3)

,日期,天气,气温,风向,当日最高温,当日最低温,温差,是否有沙暴,是否有雾,是否有雨,是否有雪,是否为晴天
0,2018-01-01,多云,1C～-4C,东南风 微风,1,-4,5,False,False,False,False,False
1,2018-01-02,阴转多云,8C～0C,东北风 3-4级,8,0,8,False,False,False,False,False
2,2018-01-03,阴转小雪,1C～-1C,东北风 4-5级转4-5级,1,-1,2,False,False,False,True,False

In [117]:
# 雨 ： 小雨/雨夹雪/雨，小到中雨, 中雨，雷阵雨，中到大雨, 大雨，暴雨 给分1-5， 其他给0分 对于一天内出现多个级别的雨的取平均
# 雪 ： 雨夹雪/小雪，小到中雪，中雪，中到大雪，大雪分别给分1, 1.5, 2，2.5，3, 求平均

In [118]:
rain = {}
rain['小雨'] = 1
rain['雨夹雪'] = 1
rain['雨'] = 1
rain['小到中雨'] = 1.5
rain['中雨'] = 2
rain['雷阵雨'] = 2
rain['中到大雨'] = 2.5
rain['大雨'] = 3
rain['暴雨'] = 4

snow = {}
snow['雨夹雪'] = 1
snow['小雪'] = 1
snow['小到中雪'] = 1.5
snow['中雪'] = 2
snow['中到大雪'] = 2.5
snow['大雪'] = 3

In [119]:
def foo_rain(text):
    a = 0
    l = str.split(text, '转')
    for i in l:
        if i in rain.keys():
            a+=rain[i]
    return round(a/len(l), 2)

def foo_snow(text):
    a = 0
    l = str.split(text, '转')
    for i in l:
        if i in snow.keys():
            a+=snow[i]
    return round(a/len(l), 2)

In [120]:
df3['降雨量'] = df3.天气.astype('string').apply(foo_rain)
df3['降雪量'] = df3.天气.astype('string').apply(foo_snow)

In [121]:
df3['东'] = df3.风向.astype('string').str.contains('东').astype('int')
df3['南'] = df3.风向.astype('string').str.contains('南').astype('int')
df3['西'] = df3.风向.astype('string').str.contains('西').astype('int')
df3['北'] = df3.风向.astype('string').str.contains('北').astype('int')

In [122]:
df['date'] = pd.Series(df.index, index = df.index).dt.date.astype('string')
df3.日期 = df3.日期.astype('string')

In [123]:
df4 = df.merge(df3.drop(columns = ['天气', '气温', '风向']), how = 'left', left_on = 'date', right_on = '日期').drop(columns = '日期')

In [127]:
df4.index = df.index
df = df4

In [129]:
df.head()

,站点,压力,date,当日最高温,当日最低温,温差,是否有沙暴,是否有雾,是否有雨,是否有雪,是否为晴天,降雨量,降雪量,东,南,西,北
,,,,,,,,,,,,,,,,,
2018-01-01,1,0.288625,2018-01-01,1.0,-4.0,5.0,False,False,False,False,False,0.0,0.0,1.0,1.0,0.0,0.0
2018-01-01,10,0.271875,2018-01-01,1.0,-4.0,5.0,False,False,False,False,False,0.0,0.0,1.0,1.0,0.0,0.0
2018-01-01,11,0.260625,2018-01-01,1.0,-4.0,5.0,False,False,False,False,False,0.0,0.0,1.0,1.0,0.0,0.0
2018-01-01,12,0.280875,2018-01-01,1.0,-4.0,5.0,False,False,False,False,False,0.0,0.0,1.0,1.0,0.0,0.0
2018-01-01,13,0.292500,2018-01-01,1.0,-4.0,5.0,False,False,False,False,False,0.0,0.0,1.0,1.0,0.0,0.0

对df的水压一列构造如下时序特征：

    当前时刻该站点水压与本月的相同整点时间该站点水压均值的差，例如当前时刻为2018-05-20 17:00:00，那么对应需要减去的值为当前月所有17:00:00时间点水压值的均值
    当前时刻所在周的周末该站点水压均值与工作日水压均值之差
    当前时刻向前7日内，该站点水压的均值、标准差、0.95分位数、下雨天数与下雪天数的总和
    当前时刻向前7日内，该站点同一整点时间水压的均值、标准差、0.95分位数
    当前时刻所在日的该站点水压最高值与最低值出现时刻的时间差

In [147]:
df['year'] = pd.to_datetime(df.date).dt.year
df['month'] = pd.to_datetime(df.date).dt.month
df['day'] = pd.to_datetime(df.date).dt.day
df['hour'] = pd.Series(df.index, index = df.index).dt.hour

In [148]:
df.columns

Index(['站点', '压力', 'date', '当日最高温', '当日最低温', '温差', '是否有沙暴', '是否有雾', '是否有雨',
       '是否有雪', '是否为晴天', '降雨量', '降雪量', '东', '南', '西', '北', 'year', 'month',
       'hour', 'day'],
      dtype='object')

In [152]:
g1 = df.pivot(index = ['year', 'month','day', 'hour'], columns = '站点', values = '压力').groupby(['year', 'month', 'hour'])

In [153]:
g1.transform(lambda x: (x-x.mean())).head(3)

站点                          1        10        11        12        13  \
year month day hour
2018 1     1   0     0.014988 -0.004597 -0.006726  0.008105  0.010294
               1     0.014806 -0.004210 -0.017722  0.013282  0.010452
               2     0.010560  0.002770  0.002516  0.011238  0.012569

站点                         14        15        16   17        18  ...  \
year month day hour                                               ...
2018 1     1   0     0.013391  0.001173  0.003677  0.0  0.014165  ...
               1     0.003992  0.001137  0.001222  0.0  0.018569  ...
               2     0.009266  0.001827 -0.001028  0.0  0.015847  ...

站点                         28        29         3        30         4  \
year month day hour
2018 1     1   0     0.001464 -0.002698  0.000738 -0.007609 -0.015472
               1     0.007270  0.001790  0.001560 -0.013827 -0.010996
               2     0.000617  0.001827 -0.001077  0.016173 -0.005323

站点                          5         6         7         8         9
year month day hour
2018 1     1   0     0.001440 -0.012411  0.005540 -0.015313 -0.027315
               1     0.003605 -0.007161  0.011310 -0.013246 -0.047927
               2     0.001319 -0.006641  0.013645 -0.008619 -0.036448

[3 rows x 30 columns]

In [154]:
df.date = pd.to_datetime(df.date)

In [157]:
df_5 = df[df.date.dt.dayofweek.isin([0, 1, 2, 3, 4])].resample('7D')['压力'].mean()
df_2 = df[df.date.dt.dayofweek.isin([5, 6])].resample('7D')['压力'].mean()

In [158]:
tmp = pd.Series(df_5.reset_index()['压力']-df_2.reset_index()['压力'])
tmp.index = pd.Series(df_5.index)
tmp.head(3)

2018-01-01    0.010990
2018-01-08    0.004373
2018-01-15    0.002133
Name: 压力, dtype: float64

In [159]:
r = df.pivot(columns = '站点', values = '压力').rolling('7D')
# 平均值
r.mean().head(3)

站点,1,10,11,12,13,14,15,16,17,18,...,28,29,3,30,4,5,6,7,8,9
,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.288625,0.271875,0.260625,0.280875,0.292500,0.261000,0.305250,0.208750,-0.25,0.282750,...,0.325000,0.289125,0.301375,0.250125,0.402750,0.314625,0.249375,0.214375,0.414687,0.255000
2018-01-01 01:00:00,0.290313,0.276750,0.259125,0.284438,0.293813,0.258188,0.309188,0.207625,-0.25,0.286688,...,0.327625,0.290813,0.302313,0.254063,0.405188,0.316500,0.255562,0.220563,0.415937,0.251063
2018-01-01 02:00:00,0.290375,0.282750,0.268500,0.286125,0.296125,0.259125,0.314125,0.206875,-0.25,0.288500,...,0.326500,0.291625,0.302250,0.266125,0.409500,0.317000,0.260750,0.224500,0.419583,0.259250

In [160]:
# 标准差
r.std().tail(3)

站点,1,10,11,12,13,14,15,16,17,18,...,28,29,3,30,4,5,6,7,8,9
,,,,,,,,,,,,,,,,,,,,,
2019-12-31 21:00:00,0.018890,0.056141,0.042336,0.033242,0.062815,0.020669,0.048335,0.018046,0.033951,0.035698,...,0.012662,0.018947,0.017995,0.027118,0.040864,0.018159,0.000144,0.028664,0.040923,0.059872
2019-12-31 22:00:00,0.018883,0.056036,0.042329,0.033211,0.063066,0.020663,0.048345,0.018045,0.033948,0.035700,...,0.012652,0.018939,0.017993,0.027074,0.040868,0.018155,0.000144,0.028672,0.040927,0.059800
2019-12-31 23:00:00,0.018858,0.056050,0.042359,0.033199,0.063167,0.020655,0.048380,0.017997,0.033941,0.035683,...,0.012647,0.018912,0.017961,0.027062,0.040921,0.018159,0.000144,0.028620,0.040969,0.059803

In [161]:
# 0.95分位数
r.quantile(0.95).head(3)

站点,1,10,11,12,13,14,15,16,17,18,...,28,29,3,30,4,5,6,7,8,9
,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.288625,0.271875,0.260625,0.280875,0.292500,0.261000,0.305250,0.208750,-0.25,0.282750,...,0.325000,0.289125,0.301375,0.250125,0.402750,0.314625,0.249375,0.214375,0.414687,0.255000
2018-01-01 01:00:00,0.291831,0.281138,0.260475,0.287644,0.294994,0.260719,0.312731,0.208638,-0.25,0.290231,...,0.329988,0.292331,0.303156,0.257606,0.407381,0.318187,0.261131,0.226131,0.417062,0.254606
2018-01-01 02:00:00,0.291850,0.293438,0.284588,0.289350,0.300188,0.261000,0.322913,0.208525,-0.25,0.291975,...,0.329725,0.293175,0.303138,0.287025,0.417075,0.318337,0.270187,0.231813,0.425906,0.273563

In [173]:
r2 = df.pivot(index = ['date'], columns = ['hour', '站点'], values = '压力').rolling('7D')

In [180]:
# 均值
r2.mean().tail(3)

hour              0                                                     \
站点                 1        10        11        12        13        14
date
2019-12-29  0.315036  0.276000  0.242250  0.267839  0.291696  0.256554
2019-12-30  0.315786  0.276857  0.244875  0.268000  0.291857  0.256607
2019-12-31  0.316964  0.274714  0.241179  0.269821  0.292232  0.256071

hour                                                ...        23            \
站点                15        16        17        18  ...        28        29
date                                                ...
2019-12-29  0.412982  0.217804  0.341089  0.241339  ...  0.304304  0.280929
2019-12-30  0.413679  0.215607  0.334768  0.241018  ...  0.303393  0.280018
2019-12-31  0.413786  0.216786  0.335625  0.243214  ...  0.302107  0.277125

hour                                                                         \
站点                 3        30         4         5    6         7         8
date
2019-12-29  0.318018  0.284839  0.392036  0.265393  0.0  0.291571  0.395464
2019-12-30  0.317857  0.284679  0.389786  0.264750  0.0  0.291625  0.392946
2019-12-31  0.315125  0.282911  0.385446  0.264161  0.0  0.287179  0.389089

hour
站点                 9
date
2019-12-29  0.211768
2019-12-30  0.212411
2019-12-31  0.211714

[3 rows x 720 columns]

In [181]:
# 标准差
r2.std().tail(3)

hour              0                                                     \
站点                 1        10        11        12        13        14
date
2019-12-29  0.005123  0.012278  0.011807  0.006444  0.008428  0.005449
2019-12-30  0.005223  0.012120  0.012000  0.006430  0.008581  0.005523
2019-12-31  0.006378  0.008303  0.010346  0.008517  0.008613  0.005505

hour                                                ...        23            \
站点                15        16        17        18  ...        28        29
date                                                ...
2019-12-29  0.023479  0.010061  0.003896  0.010591  ...  0.004920  0.006889
2019-12-30  0.023625  0.011210  0.018048  0.010632  ...  0.003317  0.005280
2019-12-31  0.023718  0.012805  0.018643  0.013128  ...  0.004717  0.006726

hour                                                                         \
站点                 3        30         4         5    6         7         8
date
2019-12-29  0.006322  0.007421  0.012578  0.005249  0.0  0.009232  0.013269
2019-12-30  0.006061  0.007169  0.010097  0.004362  0.0  0.009231  0.010768
2019-12-31  0.007002  0.007916  0.016418  0.005058  0.0  0.011240  0.015811

hour
站点                 9
date
2019-12-29  0.009449
2019-12-30  0.010288
2019-12-31  0.010920

[3 rows x 720 columns]

In [182]:
# 0.95分位数
r2.quantile(0.95).tail(3)

hour              0                                                     \
站点                 1        10        11        12        13        14
date
2019-12-29  0.321588  0.294263  0.257888  0.273813  0.300225  0.262538
2019-12-30  0.322038  0.294263  0.258225  0.273813  0.300562  0.262800
2019-12-31  0.324812  0.283762  0.253163  0.280150  0.300562  0.262800

hour                                              ...        23            \
站点                15        16      17        18  ...        28        29
date                                              ...
2019-12-29  0.432450  0.226525  0.3447  0.247688  ...  0.311000  0.290850
2019-12-30  0.432450  0.226525  0.3447  0.247688  ...  0.306538  0.286388
2019-12-31  0.432675  0.232000  0.3480  0.257438  ...  0.306538  0.285038

hour                                                                         \
站点                 3        30         4         5    6         7         8
date
2019-12-29  0.326225  0.293550  0.408600  0.272213  0.0  0.302575  0.412575
2019-12-30  0.325438  0.292763  0.402675  0.269812  0.0  0.302575  0.406950
2019-12-31  0.324650  0.292763  0.402675  0.269812  0.0  0.301225  0.406950

hour
站点                 9
date
2019-12-29  0.222562
2019-12-30  0.224700
2019-12-31  0.224700

[3 rows x 720 columns]

In [251]:
# 当前时刻所在日的该站点水压最高值与最低值出现时刻的时间差
df.groupby(['date','站点'])['压力'].idxmax() - df.groupby(['date','站点'])['压力'].idxmin()

date        站点
2018-01-01  1    -1 days +18:00:00
            10   -1 days +18:00:00
            11   -1 days +16:00:00
            12   -1 days +18:00:00
            13   -1 days +18:00:00
                        ...
2019-12-31  5    -1 days +08:00:00
            6      0 days 00:00:00
            7    -1 days +05:00:00
            8    -1 days +08:00:00
            9    -1 days +17:00:00
Name: 压力, Length: 21900, dtype: timedelta64[ns]