In [2]:
import pandas as pd
import numpy as np

# ex1

In [142]:
company = pd.read_csv('../exe_data/Company.csv')
company_data = pd.read_csv('../exe_data/Company_Data.csv')

In [76]:
# å…ˆå¯¹company_dataè¿›è¡Œå¤„ç†ï¼š
# 1.æ·»åŠ ä¸€åˆ—ä¸ºæ”¶å…¥æ‰€åœ¨å¹´ä»½ï¼Œ
# 2.å‘ç°æœ‰äº›æ”¶å…¥é¢ä¸ºè´Ÿæ•°ï¼Œæš‚æ—¶é€‰æ‹©åªä¿ç•™æ”¶å…¥ä¸ºæ­£çš„è®°å½•
# 3.è®¡ç®—æ¯å¹´æ¯å¹´æ¯ä¸ªä¼ä¸šå„ç±»åˆ«çš„æ”¶å…¥å æ¯”ï¼ˆæŒ‰ç…§ä¼ä¸šï¼Œå¹´ä»½èšåˆï¼Œè®¡ç®—æ¯ä¸ªç±»åˆ«çš„æ”¶å…¥å æ¯”ï¼‰
# 4. æ ¹æ®ä¼ä¸šã€å¹´ä»½èšåˆï¼Œè®¡ç®—å¯¹åº”çš„ç†µ

In [77]:
company_data['year'] = pd.to_datetime(company_data.æ—¥æœŸ).dt.year
company_data = company_data[company_data.æ”¶å…¥é¢>0]
company_data['ç»„å†…æ”¶å…¥è´¡çŒ®'] = company_data.groupby(['year','è¯åˆ¸ä»£ç '])['æ”¶å…¥é¢'].transform(lambda x:x/x.sum())

In [79]:
company_data.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢  year    ç»„å†…æ”¶å…¥è´¡çŒ®
0     1  2008/12/31     1  1.084218e+10  2008  0.146473
1     1  2008/12/31     2  1.259789e+10  2008  0.170192
2     1  2008/12/31     3  1.451312e+10  2008  0.196066
3     1  2008/12/31     4  1.063843e+09  2008  0.014372
4     1  2008/12/31     5  8.513880e+08  2008  0.011502

In [88]:
company_data['ç»„å†…è´¡çŒ®new'] = company_data.ç»„å†…æ”¶å…¥è´¡çŒ®.apply(lambda x : -x*np.log(x))

In [89]:
company_data.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢  year    ç»„å†…æ”¶å…¥è´¡çŒ®   ç»„å†…è´¡çŒ®new
0     1  2008/12/31     1  1.084218e+10  2008  0.146473  0.281362
1     1  2008/12/31     2  1.259789e+10  2008  0.170192  0.301381
2     1  2008/12/31     3  1.451312e+10  2008  0.196066  0.319451
3     1  2008/12/31     4  1.063843e+09  2008  0.014372  0.060973
4     1  2008/12/31     5  8.513880e+08  2008  0.011502  0.051359

In [107]:
df_s = company_data.groupby(['è¯åˆ¸ä»£ç ','year'])['ç»„å†…è´¡çŒ®new'].sum().reset_index()

In [108]:
df_s.head()

   è¯åˆ¸ä»£ç   year   ç»„å†…è´¡çŒ®new
0     1  2008  2.068035
1     1  2009  1.671752
2     1  2010  2.108355
3     1  2011  3.137535
4     1  2012  2.698959

In [109]:
df_s.è¯åˆ¸ä»£ç  = df_s.è¯åˆ¸ä»£ç .astype('string')
df_s.è¯åˆ¸ä»£ç  = df_s.è¯åˆ¸ä»£ç .apply(lambda x: '#'+x.zfill(6))

In [110]:
df_s.year = df_s.year.astype('int')

In [111]:
df_s = df_s.rename(columns = {'year':'æ—¥æœŸ','ç»„å†…è´¡çŒ®new':'I'})

In [131]:
df1 = company.merge(df_s,how = 'left', on = ['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])

In [141]:
df1.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ         I
0  #000007  2014  3.070462
1  #000403  2015  2.790585
2  #000408  2016  2.818541
3  #000408  2017       NaN
4  #000426  2015  3.084266

# EX2

In [111]:
df = pd.read_excel('../exe_data/ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')
df2 = df.copy()

In [112]:
# ä¿®æ”¹åˆ—åï¼Œä¾¿äºä½¿ç”¨wide_to_long
df2.columns = ['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°', 'ç¼–å·_0', 'ç¾¤æ˜µç§°_0', 'ç¼–å·_1', 'ç¾¤æ˜µç§°_1', 'ç¼–å·_2',
       'ç¾¤æ˜µç§°_2', 'ç¼–å·_3', 'ç¾¤æ˜µç§°_3', 'ç¼–å·_4', 'ç¾¤æ˜µç§°_4', 'ç¼–å·_5',
       'ç¾¤æ˜µç§°_5', 'ç¼–å·_6', 'ç¾¤æ˜µç§°_6', 'ç¼–å·_7', 'ç¾¤æ˜µç§°_7', 'ç¼–å·_8',
       'ç¾¤æ˜µç§°_8', 'ç¼–å·_9', 'ç¾¤æ˜µç§°_9', 'ç¼–å·_10', 'ç¾¤æ˜µç§°_10']

In [113]:
# åˆ©ç”¨wide_to_longä½¿å®½è¡¨å˜é•¿è¡¨
df2 = pd.wide_to_long(df2, 
                stubnames = ['ç¾¤æ˜µç§°','ç¼–å·'],
                i = ['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°'],
                j = 'é˜Ÿå†…æ’åº', 
                sep = '_', 
                suffix = '.+')

In [114]:
# å»æ‰ç©ºå€¼
df2 = df2.reset_index().dropna()

In [115]:
# ä¿®æ”¹index
df2.index = np.arange(df2.shape[0])

In [116]:
# ä¿®æ”¹ç¼–å·çš„æ•°æ®ç±»å‹
df2.ç¼–å· = df2.ç¼–å·.astype('int')

In [117]:
# æ·»åŠ æ˜¯å¦ä¸ºé˜Ÿé•¿è¿™ä¸ªå­—æ®µ
df2['æ˜¯å¦é˜Ÿé•¿'] = 1
df2['æ˜¯å¦é˜Ÿé•¿'] = df2['æ˜¯å¦é˜Ÿé•¿'].where(df2.ç¾¤æ˜µç§°.isin(df.é˜Ÿé•¿_ç¾¤æ˜µç§°), 0)

In [118]:
# å–å‡ºæœ‰ç”¨çš„å­—æ®µ
df2 = df2[['æ˜¯å¦é˜Ÿé•¿', 'é˜Ÿä¼åç§°', 'ç¾¤æ˜µç§°', 'ç¼–å·']]

In [119]:
# åˆ—åä¿®æ”¹
df2.rename(columns = {'ç¾¤æ˜µç§°':'æ˜µç§°'}, inplace = True)

In [120]:
df2

     æ˜¯å¦é˜Ÿé•¿    é˜Ÿä¼åç§°          æ˜µç§°   ç¼–å·
0       1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      å±±æ«å¶çº·é£     5
1       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ          è”¡     6
2       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        å®‰æ…•å¸Œ     7
3       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ          ä¿¡ä»°    8
4       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    biubiuğŸ™ˆğŸ™ˆ   20
..    ...     ...         ...  ...
141     0    ä¸ƒæ˜Ÿè”ç›Ÿ       Daisy   63
142     0    ä¸ƒæ˜Ÿè”ç›Ÿ  One Better  131
143     0    ä¸ƒæ˜Ÿè”ç›Ÿ        rain  112
144     1     åº”å¦‚æ˜¯         æ€æ— é‚ª   54
145     0     åº”å¦‚æ˜¯    Justzer0   58

[146 rows x 4 columns]

#  ex3

In [186]:
population = pd.read_csv('../exe_data/county_population.csv')
candidate = pd.read_csv('../exe_data/president_county_candidate.csv')

In [187]:
population.head()
# éœ€è¦å…ˆå°†US County åˆ†å‡ºä¸¤åˆ—ï¼Œå¿å’Œå·

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [188]:
candidate.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

1 æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

In [189]:
# candidate è¡¨  
#  æŒ‰ç…§å¿èšåˆï¼Œå¾—åˆ°æ¯ä¸ªå¿æŠ•ç¥¨æ€»äººæ•°
#  æŠŠstateï¼Œcounty æŒ‰ç…§populationä¸­US Countyä¸­çš„æ ¼å¼å¤„ç†ä¸‹
#  æŠŠæ¯ä¸ªå¿æŠ•ç¥¨äººæ•°ä¿¡æ¯æ·»åŠ åˆ°countyè¡¨ä¸­,ç„¶åæ‰¾å‡ºæŠ•ç¥¨äººæ•°è¶…è¿‡äººå£æ€»æ•°çš„å¿,å¹¶è®¡æ•°

In [190]:
candidate['US County'] = '.'+candidate['county']+', '+candidate['state']
temp = candidate.groupby('US County')['total_votes'].sum().reset_index()
population = population.merge(temp, how = 'left', on = 'US County')

In [191]:
population.head()

                  US County  Population  total_votes
0  .Autauga County, Alabama       55869      27770.0
1  .Baldwin County, Alabama      223234     109679.0
2  .Barbour County, Alabama       24686      10518.0
3     .Bibb County, Alabama       22394       9595.0
4   .Blount County, Alabama       57826      27588.0

In [192]:
population[population.total_votes*2>population.Population].shape[0]

1434

ç»“è®º: å…±æœ‰1434ä¸ªå¿æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººæ•°çš„ä¸€åŠ

2 æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°

In [207]:
# å…ˆå¾—åˆ°å…¨ç¾ç¥¨æ•°æ’å
# ç„¶åè®¡ç®—æ¯ä¸ªå€™é€‰äººåœ¨æ¯ä¸ªå·çš„æ€»ç¥¨æ•°

In [197]:
candidate.drop('US County',axis = 1, inplace = True)

In [234]:
# æ’å
col = candidate.groupby('candidate')['total_votes'].sum().sort_values(ascending = False).index 

# è®¡ç®—æ¯ä¸ªå€™é€‰äººåœ¨å„å·æ‰€å¾—æ€»ç¥¨æ•°
temp = pd.DataFrame(candidate.groupby(['state','candidate'])['total_votes'].sum().reset_index()) 

# é€è§†:é•¿è¡¨å˜å®½è¡¨
df2 = temp.pivot(index = 'state', columns = 'candidate', values = 'total_votes')[col].fillna(0).astype('int')

In [242]:
df2.head()

candidate,Joe Biden,Donald Trump,Jo Jorgensen,Howie Hawkins,Write-ins,Rocky De La Fuente,Gloria La Riva,Kanye West,Don Blankenship,Brock Pierce,...,Tom Hoefling,Ricki Sue King,Princess Jacob-Fambro,Blake Huber,Richard Duncan,Joseph Kishore,Jordan Scott,Gary Swing,Keith McCormic,Zachary Scalf
state,,,,,,,,,,,,,,,,,,,,,
Alabama,849648,1441168,25176,0,7312,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Alaska,153405,189892,8896,0,34210,318,0,0,1127,825,...,0,0,0,0,0,0,0,0,0,0
Arizona,1672143,1661686,51465,0,2032,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arkansas,423932,760647,13133,2980,0,1321,1336,4099,2108,2141,...,0,0,0,0,0,0,0,0,0,0
California,11109764,6005961,187885,81025,80,60155,51036,0,0,0,...,0,0,0,0,0,0,0,0,0,0

3  æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

In [243]:
# å…ˆè®¡ç®—æ¯ä¸ªå¿é‡Œé¢,æ¯ä¸ªå€™é€‰äººçš„å¾—ç¥¨ç‡
# è®¡ç®—æ¯ä¸ªå¿BTæŒ‡æ ‡
# æ ¹æ®BTæŒ‡æ ‡è®¡ç®—æ¯ä¸ªå·çš„ä¸­ä½æ•°
# ç­›é€‰å‡ºæ‰€æœ‰ä¸­ä½æ•°å¤§äº0çš„å·

In [284]:
candidate.head()

,state,county,candidate,party,total_votes,won,rate
0,Delaware,Kent County,Joe Biden,DEM,44552,True,0.511945
1,Delaware,Kent County,Donald Trump,REP,41009,False,0.471232
2,Delaware,Kent County,Jo Jorgensen,LIB,1044,False,0.011997
3,Delaware,Kent County,Howie Hawkins,GRN,420,False,0.004826
4,Delaware,New Castle County,Joe Biden,DEM,195034,True,0.678065

In [285]:
# è®¡ç®—æ¯ä¸ªå¿çš„å¾—ç¥¨ç‡
candidate['rate'] = candidate.groupby(['state', 'county'])['total_votes'].transform(lambda x: x/x.sum())

In [286]:
temp = candidate.copy()

In [287]:
# åªä¿ç•™å·æ™®å’Œæ‹œç™»çš„æŠ•ç¥¨ç‡æ•°æ®
temp = temp[temp.candidate.isin(['Donald Trump', 'Joe Biden'])]

In [288]:
# é•¿è¡¨å˜å®½è¡¨,æŠŠæ‹œç™»å’Œå·æ™®ä½œä¸ºåˆ—å
temp = temp.pivot(index = ['state', 'county'], columns = 'candidate', values = 'rate').reset_index()

In [289]:
# è®¡ç®—æ¯ä¸ªå¿çš„BTæŒ‡æ•°
temp['BT'] = temp['Joe Biden'] - temp['Donald Trump']

In [290]:
# è®¡ç®—æ¯ä¸ªå·BTæŒ‡æ•°çš„ä¸­ä½æ•°
final = temp.groupby(['state'])['BT'].median().reset_index()

In [293]:
# ç­›é€‰å‡ºBTæŒ‡æ•°å¤§äº0çš„å·
final[final.BT>0].state

4               California
6              Connecticut
7                 Delaware
8     District of Columbia
11                  Hawaii
21           Massachusetts
30              New Jersey
39            Rhode Island
45                 Vermont
Name: state, dtype: object